:root {
  --color-primary : #6741d9 ;
  --color-primary-light : #7950f2 ;
  --color-text : #dee2e6 ;
  --color-text-dark : #abd5bd;
  --color-backgroud-100 : #343a40;
  --color-backgroud-500 : #2b3035 ;
  --color-backgroud-900 : #212529 ;
  --color-red : #fa5252;
  --color-red-dark : #e03131;
}


*{
  margin: 0px;
  padding: 0px;
}

body {
  color: var(--color-text);
  background-color: var(--color-backgroud-900);
}


/* ///// navbar ::: */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  background-color: var(--color-primary);


}

.logo {
  font-size: 30px;
}

.search {
  background-color: var(--color-text-dark);
  padding:  5px;
  border-radius: 10px;
  border: none;
  
}
.search::placeholder {
  color: var(--color-backgroud-900);
}


/* ///// list--box ::: */

.box {

  width: 35%;
  height: 600px;
  margin: 0px 20px;
  overflow: scroll;
  position: relative;
  background-color: var(--color-backgroud-500);
}

.btn-toggle {
  position: absolute;
  right: 0px;
  padding: 8px 14px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-backgroud-900);
  color: var(--color-text);
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.movie-card {

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  border-bottom: 2px solid var(--color-text-dark);
}

.movie-card img {
  margin-right: 30px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}


/* ///// watchedbox /// */

.summary {
  
    padding: 20px;
    height: 80px;
    border-radius: 10px;
    background-color: var(--color-backgroud-100);
}

.summary-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}



.watched-movie-container{
display: flex;
flex-direction: row;
padding: 15px;
align-items: center;
}

.watched-movie-info{
  margin-left: 20px;
}

.watched-movie-child-info{
 display: flex ;
 flex-direction: row;
 justify-content: space-between;

}

.watched-movie-child-info p{
  margin-left: 50px;
  margin-top: 20px;
}


.loader , .error {
  font-size: 40px;
  text-align: center;
  margin-top: 300px;
  font-weight: 600;
}


